@{
    ViewBag.Title = "About";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}

<hgroup class="title">
  
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Our vision is to create a commercially sustainable, social enterprise that achieves its growth and targets whilst 
        operating within values based on community development and cohesion. Our intent is to offer an alternative food buying network,
        by connecting an urban community with the local farming community.
</p>
    <p>

At Richie Creative  Supermarket we like to do things a little differently. We are a sustainable food cooperative that believes in the high quality 
and attainability of local produce, even in the heart of Newport! We seek to create a supermarket that challenges the status quo and champions 
the needs of the local community by offering high quality, healthy food at reasonable prices. Most of all, we believe in:Quality and Service.
        
    </p>

</article>

<aside>
    <h3>Site map</h3>
    
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Shop", "Shop", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>